{% extends "blug/base.html" %}
{% load comments %}
{% load tagging_tags %}

{% block title %}{{ block.super }} - {{ entry.title }}{% endblock %}

{% block blog_content %}

{% get_comment_count for entry as comment_count %}

{% if preview %}
    <div class="post-preview">!!! PREVIEW !!!</div>
{% endif %}

<h2>{{ entry.title }}</h2>

<div class="post" id="post-{{ entry.pk }}">
    <div class="metadata">
        Posted on {{ entry.pub_date|date:"d F Y" }}, {{ entry.pub_date|time:"P" }} | <a href="#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
        {% tags_for_object entry as entry_tags %}
        
        {% if entry_tags %}
            <br/>
        {% endif %}
        
        {% if entry_tags %}
            Tag{{ entry_tags.count|pluralize }}:
            {% for tag in entry_tags %}{% if not forloop.first %},{% endif %} <a href="{% url blug_tag_detail tag.name %}">{{ tag.name }}</a>{% endfor %}
        {% endif %}
    </div>
    <div class="text">
        <p>{{ entry.body_html|safe }}</p>
    </div>
</div>



<a name="comments"></a>
<h2>Comments</h2>

{% get_comment_list for blug.blugentry entry.pk as comment_list %}

{% if not comment_list|length %}
<div>No comments for this post yet...</div>
{% endif %}



{% for comment in comment_list %}
    {% include "blug/comment.html" %}
{% endfor %}


<h2>Post a comment</h2>

{% if entry.enable_comments %}
    {% render_comment_form for blug.blugentry entry.pk %}
{% else %}
    Comments are disabled for this post.
{% endif %}


{% endblock %}