{% load tagging_tags %}
{% load comments %}
{% load blug_tags %}


{% get_comment_count for entry as comment_count %}

<div class="post" id="post-{{ entry.pk }}">
    <div class='post-title'><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></div>
    <div class="metadata">
        Posted on {{ entry.pub_date|date:"d F Y" }}, {{ entry.pub_date|time:"P" }} | <a href="{{ entry.get_absolute_url }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
        {% tags_for_object entry as entry_tags %}
        
        {% if entry_tags %}
            <br/>
        {% endif %}
        
        {% if entry_tags %}
            Tag{{ entry_tags.count|pluralize }}:
            {% for tag in entry_tags %}{% if not forloop.first %},{% endif %} <a href="{% url blug_tag_detail tag.name %}">{{ tag.name }}</a>{% endfor %}
        {% endif %}
    </div>
    <div class="text">
        <p>{{ entry.excerpt_html|safe }}</p>
        <p class="more"><a href="{{ entry.get_absolute_url }}">[Read full entry and comments...]</a></p>
    </div>
</div>