{% if is_paginated %}
    <div class="pagination">
        <div class="left">
            {% if page_obj.has_previous %}
                <a href="{% url blug_entry_archive_index %}?page={{ page_obj.previous_page_number }}">&lt; Previous page</a>
            {% endif %}
        </div>
        <div class="right">
            {% if page_obj.has_next %}
                <a href="{% url blug_entry_archive_index %}?page={{ page_obj.next_page_number }}">Next page &gt;</a>
            {% endif %}
        </div>
        <div class="clear"></div>
    </div>
{% endif %}