{% load blug_tags %}
{% load tagging_tags %}

<div class="header">Search</div>
<div id="search">
    <form method="get" action="{% url blug_search %}">
        <input id="q" name="q" maxlength="100" size="25" type="text" value="search..." onblur="if(this.value=='') this.value='search...';" onfocus="if(this.value=='search...') this.value='';"/>
    </form>
</div>

<div class="header">Featured entries</div>
<ul>
    {% get_featured_entries 5 as featured_entries %}
    {% for featured_entry in featured_entries %}
        <li>
            <a href="{{ featured_entry.get_absolute_url }}">{{ featured_entry.title }}</a>
        </li>
    {% endfor %}
</ul>

<div class="header">Archives</div>
<ul>
    {% get_archive_month_list as month_list %}
    {% for month in month_list %}
        <li><a href="{% url blug_entry_archive_month month|date:"Y" month|date:"m" %}">{{ month|date:"F Y" }}</a></li>
    {% endfor %}
</ul>
